#MainContent {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .FirstSignUp {
        width: 80%;
        padding: 3vh .5%;
        margin: 2vh 0;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        .bodyImage {
            width: 99%;
            margin-bottom: 2vh;
            
            
            img {
                width: 100%;
                border: solid @DisneySecondColor 2px;
            }
        }

        p {
            width: 98%;
            margin: 1.5vh 0;
            text-align: justify;
            color: @DisneySecondColor;
        }
        
        
    }
}